html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background: var(--background);
  color: var(--foreground);
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

.umi-link {
  color: #1677ff;
}

.large-tab-item {
  font-size: 16px;
  font-weight: 600;
  min-width: 200px;
  justify-content: center;
}
