@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  background: oklch(1 0 0);
  color: oklch(0.145 0 0);
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

.admin-layout {
  .ant-pro-layout-content {
    background: #f3f3f3;
    .ant-pro-page-container {
      flex: 1;
    }
  }
}

.large-tab-item {
  display: flex;
  .ant-radio-button-wrapper {
    width: calc(100% / 6);
    text-align: center;
  }
}

.ant-table {
  .ant-btn-link {
    padding: 0;
  }
  .ant-tag {
    font-size: 13px;
    padding: 4px 8px;
  }
}

.form-group-inline {
  gap: 16px;
  .ant-form-item {
    flex: 1;
    textarea,
    .ant-select {
      width: 100% !important;
    }
  }
}

.ant-pro-table {
  .ant-pro-table-list-toolbar-container {
    flex-direction: row-reverse;
    .ant-pro-table-list-toolbar-right {
      justify-content: flex-start;
    }
  }
}

.page-footer {
  .ant-pro-footer-bar-left {
    display: none;
  }
  .ant-pro-footer-bar-right {
    flex: 1;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.simple-table-card {
  .ant-pro-card-body {
    padding-inline: 0;
  }
}

.tag-large {
  font-size: 14px;
  padding: 4px 12px;
  line-height: 1.5;
}
