html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

.ant-pro-layout {
  .ant-pro-layout-content {
    padding: 0 24px;

    .ant-pro-page-container-warp-page-header,
    .ant-pro-page-container-children-container {
      padding-inline: 0;
    }
  }
  .ant-pro-sider-collapsed-button {
    display: none;
  }
}
canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.text-icon {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  .anticon {
    margin-top: 1px;
  }
}

#ai-reasoning {
  line-height: 2;
  font-size: 13px;
  color: #666;
}

#ai-answer {
  font-family: 'PingFang SC';
  line-height: 2;
  ol,
  ul {
    padding-left: 16px;
    li {
      margin: 4px 0;
    }
  }
}
