.card {
  padding: 24px 32px;
  width: 392px;
  .title {
    .logo {
      width: 44px;
      height: 44px;
      margin-right: 16px;
    }
    .name {
      inset-block-start: 2px;
      font-weight: 600;
      font-size: 33px;
    }
  }
  .subtitle {
    margin-block-start: 12px;
    margin-block-end: 40px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    text-align: center;
  }
}
