.close {
  position: absolute;
  top: 0;
  right: -48px;
  :global {
    .anticon {
      font-size: 40px;
      color: #d9d9d9;
      cursor: pointer;
      &:hover {
        color: #181818;
      }
    }
  }
}
