.container {
  display: flex;
  justify-content: center;

  .phone {
    width: 375px;
    height: 667px;
    background: url('@/assets/phone/bg.jpg') no-repeat;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar {
      margin-top: 50px;
      font-size: 12px;
      h1 {
        margin-top: 16px;
        text-align: center;
      }
    }

    .wave {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    .call {
      margin-bottom: 50px;

      :global {
        .ant-avatar {
          cursor: pointer;
        }
      }
    }
  }
}
